:root{
    --main-color: rgb(160, 160, 253);
    --input-info: rgb(165, 165, 165);
}
@media only screen and (max-width: 1100px) {

    #logo{
        display: none;
    }
}

::-webkit-scrollbar {
    display: block;
    width: 5px;
}
::-webkit-scrollbar-track {
    background: rgb(238, 238, 238);
}
::-webkit-scrollbar-thumb {
    background-color: rgb(182, 182, 182);
    border-right: none;
    border-left: none;
}

::-webkit-scrollbar-track-piece:end {
    background: transparent;
    margin-bottom: 10px; 
}

::-webkit-scrollbar-track-piece:start {
    background: transparent;
    margin-top: 10px;
}

    body{
        background-image:url("../img/mountains-1412683.png");
        background-repeat: no-repeat;
        background-size: clamp(1500px, 150vw);
        background-position: center;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        

    }
    #logo{
        font-family: sans-serif;
        font-weight: bold;
        position: relative;
        top: 90px;
        color: rgb(0, 0, 0);
        font-size: 3rem;
        
    }
    main{
        border-radius: 20%;
        
        width: 900px;
        height: 640px;
        background-color: grey;
        margin: 50px auto;
        display: flex;
    }
    section{
        width: 450px;
        box-shadow: 0 0 10px 0 white;
    }
    main section:first-of-type{
        background-color: lightblue;
        background-image: url("../img/painting-3995999_1280.jpg");
        /*border-radius: 20% 0 0 20%;*/
        color: white;
    }
    main section:last-of-type{
        background-color: rgb(255, 255, 255);
        /*border-radius: 0% 20% 20% 0%;*/
    }
    ul{
        list-style: none;
        margin-block-start: 0em;
        padding-inline-start: 0px
    }
    li{
        margin: 0px;
        display: flex;
        flex-direction: column;
    }

    .container{
        margin: 50px;
    }
    @keyframes animeBouton{
        0% {
            background-position: 0% 50%;
        }
        50% {
            background-position: 100% 50%;
        }
        100% {
            background-position: 0% 50%;
        }
    }
    button{
        background: linear-gradient(60deg,rgb(211, 211, 243),var(--main-color));
        border: 1px solid rgb(165, 165, 253);
        width: 100%;
        height: 40px;
        font-weight: bold;
        transition: 4s;
        
    }
    button:hover{
        background: linear-gradient(60deg,rgb(211, 211, 243),rgb(112, 112, 248));
        background-size: 150% 150%;
        animation-name: animeBouton;
        animation-duration: 3s;
        animation-iteration-count: infinite; 
    }
    button:focus{
        background: linear-gradient(60deg,rgb(189, 189, 240),rgb(160, 160, 253));
    }
    .presentation .container div{
        margin: 100px 0px;
        
    }
    .presentation .container div h1{
        font-size: 2.9rem;
        letter-spacing: -2px;
    }
    .presentation .container{
        margin: 100px;
    }
    .presentation p{
        font-size: 1.3rem;
    }
    .password-pattern{
        color: var(--input-info);
        margin: 0px;
        font-size: 0.8rem;
    }
    input{
        border: 1px solid var(--input-info);
        height: 25px;
    }
    label{
        font-weight: 500;
    }
    input:focus:invalid{
        outline: none;
        border: 2px solid red;
    }
    input:focus:valid{
        outline:none;
        border: 2px solid green;
    }
    li:first-of-type, li:nth-of-type(2){
        margin-top: 10px;
    }
    a{
        color: var(--main-color);
    }

